<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prototipat.Properties.Settings.BountyCodersConnectionString"
            connectionString="Data Source=bountycoders.database.windows.net;Initial Catalog=BountyCoders;Persist Security Info=True;User ID=bountycoders;Password=123456aA"
            providerName="System.Data.SqlClient" />
      <add name="BountyCodersEntities" connectionString="metadata=res://*/ModelUsers.csdl|res://*/ModelUsers.ssdl|res://*/ModelUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bountycoders.database.windows.net;initial catalog=BountyCoders;persist security info=True;user id=bountycoders;password=123456aA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>